<div *ngIf="!(auth.isUserConnected$ | async); else userPanel">
    <button routerLink="/login">Se connecter</button>
    <button routerLink="/register">Créer un compte</button>
</div>
<ng-template #userPanel>
  <p *ngIf="currentUser$ | async as user">
    &lt; <span>{{ user.email }}</span> &gt;
  </p>
  <button (click)="onLogOut()">Déconnexion</button>
</ng-template>
