<h2>À propos</h2>

<h3>Utilisation</h3>
<p>Après avoir 
  <a routerLink="/register">créé un compte d'utilisateur</a>
  , vous pouvez :</p>
<ul>
  <li>
    <a routerLink="/groups/new">Créer des groupes</a>
    , ou vous inscrire dans des groupes existants,</li>
  <li>Indiquer votre participation aux événements de vos groupes,</li>
  <li>Créer de nouveaux événements dans vos groupes.</li>
</ul>
<p>Ce service est aujourd'hui en cours de développement ; il n'y a aucune 
  garantie de bon fonctionnement, ou même de pérénité ! D'autre part, même si
  les communications avec le serveur et vos données utilisateur sont chiffrées,
  la sécurité globale du service n'est pas garantie.
</p>

<h3>Contact</h3>
<p>(formulaire à venir)</p>

<h3>Suivi du développement</h3>
<p>Le code source de cette application est publié sous
  <a href="https://framagit.org/ojob/jegere/">framagit</a>.</p>
<p>Le développement n'en est qu'à son début ;
  les détails sont dans <a href="https://framagit.org/ojob/jegere/-/boards/26213">le plan de développement (en anglais)</a>.
</p>
<p>Sur le même portail, vous pouvez consulter la liste des problèmes counnus,
  en remonter de nouveaux, ou simplement poser des questions
  <a href="https://framagit.org/ojob/je-gere/-/issues">sur la page des tickets</a>.</p>

<h3>Mentions légales</h3>
<p>Cette web-application web a été développée par
  <a href="https://joel.bourgault.fr/">Joël Bourgault</a>.</p>
<p>L'hébergement est assuré par OVH.</p>
