:host {
    min-height: 100vh; /* to handle URL bar hiding on mobile */
    display: flex;
    flex-direction: column;
}
header {
    padding: 1em 1em 0;
    background-color: var(--main-color);
    color: white;
}
nav {
    font-size: 1.2em;
    color: white;
    background-color: var(--main-color);
    display: flex;
    justify-content: right;

    p {
        margin: auto 0; /* for vertical centering */
    }
}
main {
    padding: 0 1em 1em;
    flex-grow: 1;
}
