<header>
  <h1><a routerLink="">{{ title }}</a></h1>
</header>
<nav>
  <app-nav-bar></app-nav-bar>
  <app-user-panel></app-user-panel>
</nav>
<main>
  <router-outlet></router-outlet>
</main>
<app-footer></app-footer>
