<h2>Bienvenue !</h2>
<p>Cette web-app vous propose un service d'aide à l'organisation d'événements,
  en permettant aux volontaires d'indiquer leur participation.</p>
<p><a routerLink="/about">Plus d'informations</a></p>

<app-group-list></app-group-list>
<app-event-list></app-event-list>
<app-user-list *ngIf="auth.isUserConnected$ | async"></app-user-list>
