<div *ngIf="groups.currentGroup$ | async as group">

<h2 *ngIf="mode === 'show'">
    <a routerLink="/groups">Groupes</a>
    / {{ group.name || '?' }}
</h2>
<app-group-form
    *ngIf="mode === 'new' || mode === 'edit'"
    [group]="group"></app-group-form>
<app-group-details
    *ngIf="mode === 'show'"
    [group]="group"></app-group-details>

<div *ngIf="currentUser$ | async as user">
    <div *ngIf="mode==='show' && group!.is_coordinator">
        <button (click)="edit(group.group_id)">
            Éditer
        </button>
        <button (click)="remove(group.group_id)">
            Supprimer
        </button>
    </div>
    <div *ngIf="mode==='edit'">
        <button
            *ngIf="group!.is_coordinator"
            [disabled]="group!.name === ''"
            (click)="update(group)">
            Enregistrer
        </button>
        <button (click)="cancelEdit(group.group_id)">Annuler</button>
    </div>
    <div *ngIf="mode==='new'">
        <button
            [disabled]="group!.name === ''"
            (click)="store(group)">
            Enregistrer
        </button>
        <button routerLink="/groups">Annuler</button>
    </div>
    <button *ngIf="mayQuit$ | async"
        (click)="quit(user, group)">Quitter le groupe</button>
</div>


<p *ngIf="(message$ | async) !== ''">{{ message$ | async }}</p>

</div>
