<div *ngIf="(currentUser$ | async) as curUser">
<div *ngIf="(groups.currentGroup$ | async) as group">
<div *ngIf="members$ | async as members">

<h2>
    <a routerLink="/groups">Groupes</a>
    /
    <a [routerLink]="['/groups', group!.group_id]">
      {{ group!.name }}</a>
    / Membres
</h2>

<ul *ngIf="members; else noMembers">
    <li *ngFor="let member of members">
        {{ member.email }}
        <span *ngIf="member.is_coordinator">: coordinateur</span>
        <span *ngIf="member.email === curUser.email; else showRemove">
            (vous)</span>
        <ng-template #showRemove>
            <button
                *ngIf="group.is_coordinator
                    && mode==='edit'"
                (click)="remove(member, group)">
                Retirer
            </button>
        </ng-template>
    </li>
</ul>
<ng-template #noMembers><p>Ce groupe ne compte aucun membre.</p></ng-template>

<div *ngIf="mode==='edit'">
    <ul *ngIf="nonMembers$ | async as users">
        <li *ngFor="let user of users">
            {{ user.email }}
            <button (click)="add(user, group)">ajouter</button>
        </li>
    </ul>
</div>

<div 
    *ngIf="group!.is_coordinator">
    <button *ngIf="mode==='show'"
        (click)="edit()">
        Gérer les membres
    </button>
    <button *ngIf="mode==='edit'"
        (click)="endEdit()">
        Terminer
    </button>
</div>

</div>
</div>
</div>

<p *ngIf="message$ | async as message">{{ message }}</p>
