<input class="h2-edit" [(ngModel)]="group.name" placeholder="nom" />
<p>
    <label>Visibilité :
        <input type="checkbox" [(ngModel)]="group.is_public" />
        <span *ngIf="group.is_public">est</span>
        <span *ngIf="!group.is_public">n'est pas</span>
        visible de tous
    </label>
</p>
