<div *ngIf="(currentUser$ | async) as curUser">
<div *ngIf="(groups.currentGroup$ | async) as group">
<div *ngIf="coordinators$ | async as coordinators">

<h2>
    <a routerLink="/groups">Groupes</a>
    /
    <a [routerLink]="['/groups', group!.group_id]">
      {{ group!.name }}</a>
    / Coordinateurs
</h2>

<ul *ngIf="coordinators; else noCoordinator">
    <li *ngFor="let coordinator of coordinators">
        {{ coordinator.email }}
        <span *ngIf="coordinator.email === curUser.email; else showRemove">
            (vous)</span>
        <ng-template #showRemove>
            <button
                *ngIf="group.is_coordinator
                    && mode==='edit'"
                (click)="remove(coordinator, group)">
                Retirer
            </button>
        </ng-template>
    </li>
</ul>
<ng-template #noCoordinator><p>Ce groupe n'a pas de coordinateur.</p></ng-template>

<div *ngIf="mode==='edit'">
    <ul *ngIf="nonCoordinators$ | async as users">
        <li *ngFor="let user of users">
            {{ user.email }}
            <button (click)="add(user, group)">ajouter</button>
        </li>
    </ul>
</div>

<div *ngIf="group.is_coordinator">
    <button *ngIf="mode==='show'"
        (click)="edit()">
        Gérer les coordinateurs
        </button>
    <button *ngIf="mode==='edit'"
        (click)="endEdit()">
        Terminer
        </button>
</div>

</div>
</div>
</div>

<p *ngIf="message$ | async as message">{{ message }}</p>
