<p>Pas encore de compte&nbsp;?</p>
<form [formGroup]="registerForm" (ngSubmit)="onRegister()">
  <input id="email" type="text" formControlName="email" placeholder="adresse courriel" autofocus>
  <input id="password" type="password" formControlName="password" placeholder="mot de passe">
  <button type="submit">S'enregistrer</button>
</form>
<p *ngIf="message">{{ message }}</p>
