:host {
  margin: 0.5em 0;
}
form {
  height: 2em;
  box-sizing: border-box;
  display: block;
}

input, button {
  display: inline-block;
  transition: background-color 0.6s;
}
button:hover {
  transition: background-color 0.2s;
}
