<p>Déjà un compte&nbsp;?</p>
<form [formGroup]="logInForm" (ngSubmit)="onLogIn()">
  <input id="email" type="text" formControlName="email" placeholder="adresse courriel" autofocus>
  <input id="password" type="password" formControlName="password" placeholder="mot de passe">
  <button type="submit">Se connecter</button>
</form>
<p *ngIf="message">{{ message }}</p>
