/* You can add global styles to this file, and also import other style files */
:root {
    --main-color: teal;
    --faded-color: rgb(129, 231, 231);
    --transition-in: 0.3s;
    --transition-out: 0.6s;
}
* {
    font-family: 'Petrona', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    padding: 0;
    font-size: 2em;
}
@mixin h2-style {
    font-size: 1.3em;
    font-weight: bold;
    padding: 0;
    color: var(--main-color);
}
h2,
input.h2-edit {
    @include h2-style;
}
h2 {
    margin: 0.9em 0 0.5em;
}
input.h2-edit {
    margin: calc(0.9em - 1px) 0 calc(0.5em - 1px) -1px;
    outline: none;
    border: dashed 1px var(--main-color);
    border-radius: 0.3em;
}
p,
li {
    margin: 0.6em 0;
}
button {
    display: inline-block;
    font-size: 100%;
    border: solid 1px var(--main-color);
    border-radius: 0.5em;
    height: 1.4em;
    margin-right: 0.3em;
    padding: 0.1em 0.3em;
    vertical-align: middle;
    color: white;
    background-color: var(--main-color);
    transition: color var(--transition-out),
        background-color var(--transition-out);

    &:hover {
        cursor: pointer;
        color: var(--main-color);
        background-color: white;
        transition: color var(--transition-in),
            background-color var(--transition-in);
    }
    &:disabled {
        color: var(--faded-color);
        border-color: var(--faded-color);
        background-color: white;
    }
}
a,
a:visited {
    color: var(--main-color);
    text-decoration-color: transparent;
    transition: text-decoration-color var(--transition-out);
}
a:hover {
    text-decoration-color: var(--main-color);
    transition: text-decoration-color var(--transition-in);
}

header a,
header a:visited,
footer a,
footer a:visited {
    color: white;
}
header a:hover,
footer a:hover {
    color: white;
    text-decoration-color: white;
}

li {
    margin-left: 0.5em; // bullets position
    list-style: none;

    &::before {
        content: '\2022';
        width: 0.5em;
        margin-left: -0.3em;
        color: var(--main-color);
        display: inline-block;
        font-weight: bold;
    }
}

input {
    font-size: 100%;
}
