<h2><a [routerLink]="['/groups']">Groupes</a></h2>
<div *ngIf="(groups$ | async) as groups">
  <ul>
    <li *ngFor="let group of groups">
      <a [routerLink]="['/groups', group.group_id]">{{ group.name }}</a>
    </li>
  </ul>
  <p *ngIf="groups.length === 0">Aucun groupe visible.</p>
</div>
<button *ngIf="auth.isUserConnected$ | async" routerLink="/groups/new">Créer un nouveau groupe</button>
