<h2><a [routerLink]="['/users']">Utilisateurs</a></h2>
<ul>
  <li *ngFor="let user of (users$ | async)">{{ user.email }}</li>
</ul>
<p *ngIf="users$ === undefined">Il n'y a pas encore d'utilisateur.</p>
