<p>{{ group.is_public ? "public" : "privé" }}</p>
<div *ngIf="group.is_member; else notMember">
  <p><a [routerLink]="['/groups', group.group_id, 'members']">
    {{ group.members_nb! | i18nPlural: membersCountMapping }}</a>, 
    <a [routerLink]="['/groups', group.group_id, 'coordinators']">
    {{ group.coordinators_nb! | i18nPlural: coordinatorsCountMapping }}</a>
    </p>
  </div>
<ng-template #notMember>
  <p>{{ group.members_nb! | i18nPlural: membersCountMapping }},
    {{ group.coordinators_nb! | i18nPlural: coordinatorsCountMapping }}</p>
  </ng-template>
