<footer>
  <p>Je&nbsp;gère&nbsp;!
    <a href="https://joel.bourgault.fr">Une webapp par <code>ojob</code></a>
  </p>
  <p><a routerLink="/about">À propos</a></p>
  <p><app-backend-monitor></app-backend-monitor></p>
</footer>
